@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Este é um programa Gerenciador de Tarefas.</p>
    <p>Você pode cadastrar Tarefas e alterar o Status em "Por Fazer" e "Concluídas."</p>
    <a asp-controller="ListaDeTarefas" asp-action="Index" class="btn btn-primary btn-outline mt-5 me-4">Ir para Lista de Tarefas</a>
</div>